:root{
    --blue-color : #3d6d79;
    --mustard-color:#d79151;
    --purple-white:#e0e2ee;
}

body{
    background-color:#3d6d79;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cash-given-div{
    display: none;
}

.heading{
    color: var(--mustard-color);
}

.intro{
    color: var(--mustard-color);
    font-size: 1.2rem;
}

.label-class{
    color: var(--mustard-color);
    font-size: 1.2rem; 
}

.input-color{
    background-color: var(--purple-white) ;
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
}