:root{
    --blue-color : #3d6d79;
    --mustard-color:#d79151;
    --purple-white:#e0e2ee;
}

body{
    background-color:#3d6d79;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cash-given-div{
    display: none;
}

.heading{
    color: var(--mustard-color);
}

.intro{
    color: var(--mustard-color);
    font-size: 1.2rem;
}

.label-class{
    color: var(--mustard-color);
    font-size: 1.2rem; 
}

.input-color{
    background-color: var(--purple-white) ;
    margin: 1rem 0rem;
    padding: 0.5rem 1rem;
}

#error-message{
    color: var(--mustard-color);
    font-size: 1.2rem;    
}

.button-color{
    background-color:var(--mustard-color) ;
    width: 135px;
    margin: auto;
    height: 5vh;
    
}

.caption-class{
    color: var(--mustard-color);
    font-size: 1.2rem;  
    margin: 1rem;
}

.change-table{
    display: none;
}

#table-styling table, th, td {
    width: 80vw;
    border: 2px solid var(--mustard-color);
    padding: 0.2rem;
    color: var(--purple-white);
    background-color: var(--blue-color);
    border-collapse: collapse;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}

footer{
    background-color: var(--mustard-color);
    color: var(--blue-color);
    padding: auto;
    text-align: center;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .link{
    color: var(--blue-color);
    font-size: 1.7rem;
}

footer ul{
    padding-inline-start: 0px;
}